@use "./colors" as c;
@use "./mixins" as *;
@use "./font";


.infobtn {
  position: fixed;
  z-index: 4;
  top: 1rem;
  left: 1rem;
  padding: 4px;
  border: 0px;
  background: none;
  cursor: pointer;
  color: c.$gold;
  i {
    font-size: 2rem;
  }
}
.closeInfo {
  display: none;
}
.infoList {
  @include border-gold-shadow;
  background-image: linear-gradient(
    135deg,
    c.$black-fade-top,
    c.$black-fade-bottom
    );
    transform: translateY(-100%);
  position: fixed;
  transition: transform 0.3s;
  height: 100vh;
  width: 100vw;
  text-align: center;
  z-index: 1;
  list-style-type: none;
  li {
    margin-top: 3rem;
    span {
      display: block;
    }
  a {
      color: c.$gold;
      text-decoration: none;
      letter-spacing: 2px;
      i {
        font-size: 2.5rem;
       }
    }
  }

}
.showInfo {
transform: translateY(0);
}

#download {
  @include button;
}
#downloadI {
  padding-right: 15px;
  font-size: 1.5rem; 
}