@use "./colors" as c;
@use "./mixins" as *;
@use "./font";

.hamburger {
  font-size: 2.5em;
  position: fixed;
  z-index: 5;
  top: 1rem;
  right: 0.5em;
  padding: 4px;
  border: 0px;
  background: none;
  cursor: pointer;
  color: c.$gold;  

}


.closeIcon {
  display: none;
}

.menu {
  margin: -25px auto;
  @include border-gold-shadow;
  background-color: rgba(51, 51, 51, 0.85);
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.3s;
  height: 95vh;
  width: 100vw;
  text-align: center;
  z-index: 5;
  padding-top: 2rem;
  list-style-type: none;
  li {
    width: auto;
    margin: 2rem auto;
    padding: 0.5em 1em;
    border: 1px solid rgba(51, 51, 51, 0.85);
    &:hover {
      @include border-gold;
      @include bg-fade;
      transform: scale(1.2);   
      transition: all 0.3s ease 0s;
    }
    &:not(:hover) {
      transition: all 0.3s ease 0s;
    } 
  }
  a {
    color: c.$gold;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.showMenu {
  transform: translateY(25px);
}