@use "./colors" as c;
@use "./mixins" as *;
@use "./font";

.hamburger {
  font-size: 2.5em;
  position: fixed;
  z-index: 5;
  top: 1rem;
  right: 0.5em;
  padding: 4px;
  border: 0px;
  background: none;
  cursor: pointer;
  color: c.$gold;  
}
.closeIcon {
  display: none;
}

.menu {
  margin: -25px auto;
  @include border-gold-shadow;
  background-image: linear-gradient(
    135deg,
    c.$black-fade-top,
    c.$black-fade-bottom
    );
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.3s;
  height: 95vh;
  width: 100vw;
  text-align: center;
  z-index: 5;
  padding-top: 2rem;
  list-style-type: none;
  li {
    margin-top: 3rem;
  }
  a {
    color: c.$gold;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}
.showMenu {
  transform: translateY(25px);
}