@use 'font.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: Linux;
  a {
    text-decoration: none;
    color: black;
  }
}

.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #000;
  animation: flip 3s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.appear {
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(10px);
}

.appear.inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.3s;
}



.wrapper {
  height: 100vh;

  .section {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    height: 100vh;
    // padding-top: 2rem;
    text-align: center;
  }
}
.bi {
  font-size: 2rem;
}
.s1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  img {
    padding-top: 0rem;
    width: 300px;
    border-radius: 2rem;
    
    box-shadow: 0px 0px 5px 5px rgba(18, 18, 18, 0.75);
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
    // -webkit-text-stroke: 1px black;
  }
  h3 {
    text-transform: uppercase;
    span {
      color: #888;
      display: block;
    }
  }
  
}

.s2 {
  display: flex;
  justify-content: center;  
  align-items: center;
  padding-right: 1rem;
  h3 {
    font-size: 2rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    // text-orientation: mixed;
  }
  div {
    border-right: 1px solid black;
    // border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    line-height: 1.8;
  }
}

.s3 {
  padding-top: 1rem;
  h3 {
    margin: 1rem auto;
  }
}

.fedu-wrap {
  margin: 2rem auto;  
  width: 90vw;
  display: flex;
  // justify-content: center;
  align-items: center;
  // align-items: flex-end;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  border: 1px solid black;
  border-radius: 2rem;
  background-color: lightgray;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  
  div {
    line-height: 1.25;
    margin: 1rem 2rem;
    padding: 0 1rem;
    height: 56vh;
    min-width: 90vw;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    h4 {
      margin-bottom: 1rem;
    }
  }
}

.s4 {
  padding-top: 2rem;
  
  div {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.s5 {
  padding: 2rem;
  margin: 1rem auto;
  text-align: center;
  
  div {
    margin-top: 3rem;
    padding: 2rem 0rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    span {
      display: block;
      margin: 1rem auto;
      border-bottom: 1px solid black;
    }
  }
}
input, textarea {
  border:0;
  border-radius: 0.5rem;
  padding: 0.75rem;
  &:hover {
    background-color:lightgray;
    transition: all 0.3s ease 0s;
  }
  &:not(:hover) {
    transition: all 0.3s ease 0s;
  }
}
button {
  padding: 0.5rem 1.5rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  &:hover {
    transition: all 0.3s ease 0s;
    background-color: #fafafa;
    border: 1px solid black;
    border-radius: 2rem;
    cursor: pointer;
    transform: scale(1.1);
  }
  &:not(:hover) {
    transition: all 0.3s ease 0s;
  }
    
}
.s6 {
  background-color: black;
  color: white;
  padding-top: 2rem;

  a {
    color: white;
  }
  ul {
    margin: 2rem auto;
    list-style-type: none;
    li {
      padding: 0.75rem;
    }
  }
}