@use "./mixins" as *;
@use "./font";
@use "./colors" as c;
@use "./linkmenu";
@use "./infomenu";

* {
  // border: 1px solid black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: Linux;
  // background-color: red;
}
body {
  background-color: c.$black-bg-body;
}



main {
  height: 98vh;
  
  
  .section {
    @include border-gold-shadow;
    background-color: c.$black-bg-dark;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    height: 98vh;
    // padding: 0.5em;
    margin: 1em 0.5em;
    text-align: center;
    color: c.$gold;
  }
}
.s1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // img {
  //   padding-top: 0rem;
  //   width: 300px;
  //   border-radius: 2rem;
  //   box-shadow: 0px 0px 5px 5px rgba(18, 18, 18, 0.75);
  // }
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    // color: c.$gold;
  }

}

.pic-bg {
  @include border-gold-shadow;
  margin: 10% ;
  background-image: linear-gradient(
    135deg,
    c.$black-fade-top,
    c.$black-fade-bottom
  );
  img {
    display: block;
    border: 1px solid c.$black-fade-top;
    border-radius: 25px;
    margin: 1.5rem auto;
    width: 60%;
  }
}


.frontLogoWrap {
  @include border-gold-shadow;
  margin: 2em auto;

  padding: 1em;
  background-color: none;
  background-image: linear-gradient(
    135deg,
    c.$black-fade-top,
    c.$black-fade-bottom
    );
  .textFlip {
    position: relative;
    span {
      position: relative;
      display: inline-block;
      font-size: 2em;
      animation: flip 3s infinite;
      animation-delay: calc(0.2s * var(--i));
    }
  }
  h3 {
    text-transform: uppercase;
    span {
      color: c.$gold-light;
      display: block;
    }
  }
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}





.s2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  h3 {
    font-size: 2rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding-right: 0.25em;
  }
  div {
    border-right: 1px solid c.$gold;
    color: c.$white;
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    line-height: 1.8;
  }
}

.s3 {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    margin: 1rem auto;
    // color: c.$gold;
    span {
      display: block;
    }
  }
  p {
    margin: 1em 0.5em;
    color: c.$white;
  }
}

.fedu-wrap {
  margin: 1em auto;
  width: 90vw;
  height: auto;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  background-color: c.$black-fade-bottom;
  @include border-grey-shadow;


  div {
    line-height: 1.2;
    margin: 1rem 2rem;
    padding: 0.5em;
    height: auto;
    min-width: 90vw;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    h4 {
      // color: c.$gold;
      margin-bottom: 0.5em;
    }
  }
}

.s4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  div {
    margin: 2em auto;
    div {
      p {
        margin-top: 0.5rem;
      }
    }
  }
}

.s5 {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem auto;
  // text-align: center;
  h3{
    margin: 1em;
  }

  div {
    width: 85%;
    margin: 2rem;
    padding: 2rem 0rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    span {
      display: block;
      margin: 1rem auto;
      border-bottom: 1px solid c.$gold;
    }
  }
}
input,
textarea {
  color: c.$gold;
  background-color: c.$black-bg-dark;
  border: 0;
  border-radius: 0.5em 0.5em 0em 0em;
  padding: 0.75em;
  &:hover {
    background-color: c.$black-light;
    transition: all 0.3s ease 0s;
  }
  &:not(:hover) {
    transition: all 0.3s ease 0s;
  }
}
.btn {
  @include button;
}

@media ( min-width: 768px) {

  body  {
      background-color: red;
    }
    
    .s2 {
      div {
        margin: 0 5em;
      }
      h3 {
        margin-right: 3em;
      }    
    }
    
    
  .s3 {
    p {
      width: 50%;
      margin: 2em;
    }
    .fedu-wrap {
    width: 85%;
    height: 50%;
    div {
      width: 80%;
      p {
        margin: 0 auto;
        width: 75%;
      }
    }        
  }
}

  .s5 {
    div {
      width: 66%;
    }

  }
}

@media ( min-width: 1024px)  {
  body  {
    background-color: cornflowerblue;
  }
}